.parties-list li hr {
  width: 95%;
  margin: 1em auto;

  border: none;
  border-top: 1px #ddd solid;
  border-color: #dedede;
}

.character-badge {
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 32px;
  border-radius: 5px;

  text-decoration: none;
  color: #333333;
}

.character-badge:hover {
  background-color: #e6f2ff;
}

.character-badge .character-image {
  width: 32px;
  height: 32px;
  padding-right: 0.5em;

  vertical-align: middle;
}

.loot-master-indicator {
  padding-left: 0.5em;
}
