.parties-list {
  list-style: none;
  padding-left: 0;
}

.parties-list li {
  box-shadow: 0 2px 12px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #F0EBDF;
  padding: 1em 1.5em;
  margin-bottom: 1em;

  border-radius: 5px;

  width: 50%;
}

.parties-list .actions {
  padding: 0 1.5em;
}

.button {
  display: inline-block;

  padding: 0.5em 1em;

  margin-right: 1em;

  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
